@import "../common/mixin.scss";

.contact {
  padding-top: 70.5px;
  .contact-inner {
    text-align: center;
    @include mq(sp) {
      display: block;
      text-align: center;
    }
    .contact-box {
      display: flex;
      width: 460px;
      padding-top: 36px;
      margin: 0 auto;
      @include mq(sp) {
        width: auto;
        display: block;
      }
      .phone-number-box {
        padding-top: 10px;
        margin-right: 16px;
        @include mq(sp) {
          padding-top: 0;
          margin-right: 0;
          padding-bottom: 20px;
        }
        .phone-number {
          font-size: 28px;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .btn-contact {
        width: 240px;
      }
    }
  }
}