@import "../common/mixin.scss";

.service {
  padding-top: 75px;
  .service-inner {
    position: relative;
    padding: 0 16px;
    @include mq(sp) {
      height: auto;
      padding: 0 16px 59px 16px;
    }
    .service-title {
      padding-top: 63px;
      text-align: center;
      font-size: 36px;
      @include mq(sp) {
        font-size: 24px;
        line-height: 1.7;
      }
    }
    .slider {
      padding-top: 46px;
      width: 100%;
      .slick-slide {
        text-align: center;
        height: auto!important;
        padding-bottom: 46px;
        .fa, .h3-title {
          margin-bottom: 28px;
        }
        .slider-content {
          text-align: start;
          width: 80%;
          margin: 0 auto;
          line-height: 1.7;
        ;
        }
      }
      .slick-arrow {
        width: 80px;
        height: 60px;
        z-index: 100;
      }
      .slick-next {
        right: 10px;
        &::before {
          font-size: 4rem!important;
          color: #424242;
        }
      }
      .slick-prev {
        left: 10px;
        &::before {
          font-size: 4rem!important;
          color: #424242;
        }
      }
    }
    .btn-price-area {
      text-align: center;
      padding-top: 45px;
      .btn-price {
        width: 260px;
        height: 60px;
        border-radius: 31px;
      }
    }
  }
}