@import "../common/mixin.scss";

.skill {
  padding-top: 75px;
  .skill-inner {
    .skill-content {
      padding: 36px 16px 0 16px;
      ul {
        @include flexbox(wrap);
        li {
          text-align: center;
          width: 200px;
          margin-bottom: 24px;
          @include mq(sp) {
            width: 150px;
          }
          .skill-name {
            margin: 12px 0;
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }
  }
}